html, body {
    margin: 0;
}

.simulator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#stage {
    position: relative;
    height: 100vh;
    width: 100%;
}

canvas {
    position: absolute;
}

#background {
    z-index: 1;
}

#features {
    z-index: 2;
}

#aeroplanes {
    z-index: 3;
}

#pause-play {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: rgba(22, 145, 203, 0.5);
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#pause-play > .symbol {
    text-align: center;
    color: white;
}

#pause-play {
    cursor: pointer;
}

#stats {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Courier New", monospace;
    position: absolute;
    top: 1rem;
    right: 1rem;
    backdrop-filter: blur(2px);
}

.metric {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    font-size: 1rem;
}

.title {
    margin: 0;
}

.value {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

.good {
    color: rgb(0, 213, 170);
}

.bad {
    color: rgb(220, 46, 78);
}

.command-entry {
    z-index: 4;
    margin-bottom: 1rem;
}

#command-entry-field {
    color: white;
    width: 500px;
    font-size: 1.3rem;
    font-family: "Courier New", monospace;
    padding: 0.4rem;
    border: none;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    backdrop-filter: blur(2px);
    text-transform: uppercase;
}

#command-entry-field:focus {
    outline: none;
}

#send-command {
    display: none;
}

#message-container {
    z-index: 5;
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    min-width: 500px;
    height: 35px;
    border-radius: 1rem;
    backdrop-filter: blur(2px);
}

#message-display {
    width: fit-content;
    text-align: center;
}

.message {
    font-family: "Courier New", monospace;
    font-size: 1.25rem;
    color: #5b5b5b;
    padding: 0 1rem;
}

.sidebar {
    z-index: 10;
    width: 15%;
    position: absolute;
    right: 1rem;
    top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;
    backdrop-filter: blur(2px);
    overflow-y: scroll;
}

.aeroplane-strip {
    width: 90%;
    max-width: 90%;
    height: 4rem;
    max-height: 4rem;
    min-height: 4rem;
    margin: 0.5rem 0 0;
    padding: 0 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aeroplane-strip:hover {
    cursor: pointer;
}

.selected {
    background-color: rgba(255, 255, 255, 0.2);
}

.aeroplane-strip > .separator {
    width: 100%;
    height: 1%;
    background-color: #737681;
}

.aeroplane-strip > .overview {
    display: flex;
    justify-content: space-between;
}

.target-value {
    color: rgb(255, 186, 0);
}

.current-value {
    color: rgb(0, 213, 170);
}

.overview .text {
    font-family: "Courier New", monospace;
    color: white;
    font-size: 1rem;
    margin: 0;
}

.actions-overview {
    display: flex;
    justify-content: space-between;
}

.actions-overview .text {
    font-family: "Courier New", monospace;
    font-size: 1rem;
    margin: 0;
}

.actions-overview .with-direction {
    display: flex;
    align-items: center;
}
