html, body {
    margin: 0;
}

.simulator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#stage {
    position: relative;
    height: 100vh;
    width: 100%;
}

canvas {
    position: absolute;
}

#background {
    z-index: 1;
}

#features {
    z-index: 2;
}

#aeroplanes {
    z-index: 3;
}

/* Controls */

.controls {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#pause-play {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: rgba(22, 145, 203, 0.5);
}

#pause-play > .symbol {
    text-align: center;
    color: white;
}

#pause-play {
    cursor: pointer;
}

.controls .row {
    display: flex;
    align-items: center;
}

.controls .ui-button {
    border: 1px dashed #9d9d9d;
    margin-left: 1rem;
}

.controls .ui-button .text {
    color: #9d9d9d;
    margin: 0;
    padding: 0.25rem;
    font-family: "Courier New", monospace;
    font-size: 0.8rem;
}

.controls .ui-button .text:hover {
    color: rgb(0, 213, 170);
    cursor: pointer;
}

.selected-green {
    background: rgba(0, 213, 170, 0.2);
}

.selected-orange {
    background: rgba(255, 167, 7, 0.2);
}

.selected-red {
    background: rgba(253, 3, 43, 0.2);
}

.wind-indicator {
    z-index: 12;
    position: absolute;
    top: 1rem;
    left: 50%;

    width: 2.4rem;
    height: 2.4rem;
    border: 1px solid #9D9D9D;
    border-radius: 100%;

    display: flex;
    justify-content: center;

    backdrop-filter: blur(2px);
}


.wind-arrow {
    display: flex;
    flex-direction: column;
    transform-origin: center;
    transform: rotate(137deg);
}

.wind-arrow-segment {
    width: 0.1rem;
    height: 0.4rem;
}

.marker {
    background-color: rgb(0, 213, 170);
}

.wind-arrow-segment + .filler {
    background-color: transparent;
}

#wind-speed {
    color: white;
    position: absolute;
    margin: 0;
    top: 0.6rem;
    font-family: "Courier New", monospace;
}

.game-speed-indicator {
    color: #9d9d9d;
    min-width: 2rem;
}

#game-speed-text {
    font-family: "Courier New", monospace;
    font-size: 1.75rem;
    text-align: center;
    margin: 1rem 0 0;
}

#game-speed-text > span {
    font-size: 1.1rem;
}

#stats {
    z-index: 10;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Courier New", monospace;
    position: absolute;
    top: 1rem;
    right: 1rem;
    backdrop-filter: blur(2px);
    font-size: 0.85rem;
}

.stats-table {
    border-collapse: collapse;
}

.stats-table td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 0.25rem;
    border-collapse: collapse;
}

.value {
    margin: 0;
    padding: 0.1rem;
    font-size: 0.85rem;
    font-weight: bold;
}

.good {
    color: rgb(0, 213, 170);
}

.not-ideal {
    color: rgb(255, 167, 7)
}

.bad {
    color: rgb(220, 46, 78);
}

.neutral {
    color: rgba(255, 255, 255, 0.8);
}

.command-entry {
    z-index: 4;
    margin-bottom: 1rem;
}

#command-entry-field {
    color: white;
    width: 500px;
    font-size: 1.3rem;
    font-family: "Courier New", monospace;
    padding: 0.4rem;
    border: none;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    backdrop-filter: blur(2px);
    text-transform: uppercase;
}

#command-entry-field:focus {
    outline: none;
}

#send-command {
    display: none;
}

#message-container {
    z-index: 5;
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    min-width: 500px;
    height: 35px;
    border-radius: 1rem;
    backdrop-filter: blur(2px);
}

#message-display {
    width: fit-content;
    text-align: center;
}

.message {
    font-family: "Courier New", monospace;
    font-size: 1.25rem;
    color: rgb(234, 234, 234);
    padding: 0 1rem;
}

/* Sidebar */
.sidebar {
    z-index: 10;

    position: absolute;
    right: 0.5rem;
    top: 10.5rem;

    width: 13%;
    max-height: 75%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 0.5rem;

    backdrop-filter: blur(4px);

    overflow-y: scroll;
    scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.aeroplane-strip {
    width: 90%;
    max-width: 90%;
    margin: 0.5rem 0 0 0;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
}

.arrival {
    background-color: rgba(255, 255, 255, 0.1);
}

.departure {
    background-color: rgba(113, 248, 255, 0.18);
}

.aeroplane-strip:hover {
    cursor: pointer;
}

.selected {
    border-left: 5px solid white;
}

.aeroplane-strip .row {
    padding: 0.25rem 0.5rem;
}

/* Overview */
.aeroplane-strip > .overview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: flex-end;

    border-bottom: 1px solid rgba(115, 118, 129, 0.32);
}

.aeroplane-strip .overview .text {
    font-family: "Courier New", monospace;
    color: white;
    font-size: 1rem;
    margin: 0;
}

.aeroplane-strip .overview .final-target {
    color: rgb(221, 126, 229);
    font-weight: bold;
}

.aeroplane-strip .overview .short-class {
    font-weight: lighter;
    font-size: 0.8rem;
}

.aeroplane-strip .overview #call-sign {
    letter-spacing: 0.1rem;
}

/* State */
.aeroplane-strip > .state {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: center;

    border-bottom: 1px solid rgba(115, 118, 129, 0.32);
}

.aeroplane-strip > .state .text {
    color: white;
    font-family: "Courier New", monospace;
    font-size: 0.85rem;
    margin: 0;
}

.aeroplane-strip > .state .fuel-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.aeroplane-strip > .state .fuel-indicator {
    display: flex;
}

.fuel-indicator-pip {
    border: 1px solid red;
    height: 0.5rem;
    width: 0.5rem;
}

.pip1 {
    border-top-left-radius: 0.15rem;
    border-bottom-left-radius: 0.15rem;
}

.pip5 {
    border-top-right-radius: 0.15rem;
    border-bottom-right-radius: 0.15rem;
}

.background-green {
    background-color: rgb(0, 213, 170);
}

.background-orange {
    background-color: rgb(255, 167, 7);
}

.background-red {
    background-color: rgb(253, 3, 43);
}

.pip-border-green {
    border: 1px solid rgb(0, 213, 170);
}

.pip-border-orange {
    border: 1px solid rgb(255, 167, 7);
}

.pip-border-red {
    border: 1px solid rgb(253, 3, 43);
}

/* Actions */
.aeroplane-strip > .actions-overview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.aeroplane-strip > .actions-overview .text {
    font-family: "Courier New", monospace;
    font-size: 1rem;
    margin: 0;
}

/* Value formats */
.target-value {
    color: rgb(4, 230, 255);
    font-weight: bold;
}

.current-value {
    color: rgb(255, 255, 255);
}

.center {
    text-align: center;
}

.right {
    text-align: end;
}

/* Pause Menu */

.pause-menu {
    display: none;
    z-index: 13;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    background-color: rgba(52, 62, 68, 0.8);
    border-radius: 0.25rem;
    backdrop-filter: blur(2px);

    flex-direction: column;
    align-items: center;

    padding: 1rem 2rem;

    font-family: "Courier New", monospace;
    color: white;

    overflow-y: scroll;
}

#pause-menu::-webkit-scrollbar {
    display: none;
}

.pause-menu .mode-buttons {
    width: 30%;
}

.pause-menu .ui-button {
    border: 1px dashed #9d9d9d;
    margin-left: 1rem;
}

.pause-menu .ui-button .text {
    color: #9d9d9d;
    margin: 0;
    padding: 0.25rem;
    font-family: "Courier New", monospace;
    font-size: 0.8rem;
    text-align: center;
}

.pause-menu .ui-button .text:hover {
    color: rgb(0, 213, 170);
    cursor: pointer;
}



/* Help Menu */

.help-menu {
    display: none;
    z-index: 11;
    position: absolute;
    top: 5%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    background-color: rgba(10, 40, 70, 0.8);
    border-radius: 0.25rem;
    backdrop-filter: blur(2px);

    padding: 1rem 2rem;

    font-family: "Courier New", monospace;
    color: white;

    overflow-y: scroll;
}

.help-guide {
    border-collapse: collapse;
}

.help-guide tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.help-guide td {
    padding: 1rem;
}

.header, .header-column {
    font-weight: bold;
    min-width: 16rem;
}

.no-wrap {
    text-wrap: none;
    white-space: nowrap;
}

.blue {
    color: rgb(4, 230, 255);
}

.purple {
    color: rgb(221, 126, 229);
}

.green {
    color: rgb(0, 213, 170);
}

.orange {
    color: rgb(255, 167, 7);
}

.red {
    color: rgb(253, 3, 43);
}

.bold {
    font-weight: bold;
}

.hint {
    display: none;
    z-index: 11;
    position: absolute;
    left: 2%;
    bottom: 2%;
    width: 25%;
    height: auto;
    max-height: 60%;
    background-color: rgba(55, 108, 152, 0.5);
    border-radius: 0.25rem;
    backdrop-filter: blur(2px);

    padding: 0.25rem 1rem 0.5rem;

    font-family: "Courier New", monospace;
    color: white;

    overflow-y: scroll;
}

.hint::-webkit-scrollbar {
    display: none;
}


#hint-title {
    font-size: 1.1rem;
}

.hint-body {
    font-size: 1rem;
}

.code {
    display: none;
    background-color: #545454;
    color: #eaeaea;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

#hint-body-after {
    display: none;
}

.hint-confirm {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.2rem;
}

.hint-confirm:hover {
    cursor: pointer;
}

.hint-controls {
    display: flex;
    justify-content: flex-end;
}

.attention-focus {
    z-index: 12;
    display: none;
    position: absolute;
    border: 2px dashed rgba(34, 208, 101, 0.5);
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}